<div class="row">
    <div class="col-md-12 text-center">
        <!-- <div class="row pt-1 mb-2">
            <div class="col-md-4 text-center mb-2">
                <h1 class="h5">
                    <i class="fab fa-android fa-lg mr-2 text-primary"></i>
                    {{ name }}<i class="fab fa-apple fa-lg ml-2 mr-1 text-primary"></i>
                </h1>
            </div>
            <div class="col-md-4 text-center">
                <h2 class="h5">{{angular}}</h2>
            </div>
            <div class="col-md-4 text-center">
                <h2 class="h5">{{bootstrap}}</h2>
            </div>
        </div> -->
        <hr>
        <!-- <div class="row mb-1">
            <div class="col-md-12 text-center">
                <h3 class="h6">Features&nbsp;&nbsp;<i class="fas fa-list"></i></h3>
            </div>
        </div> -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Module des Taches</h5>
                <p class="card-text">Liste Tache</p>
                <a href="#" routerLink="/tache" class="btn btn-primary">Afficher</a>
            </div>
        </div>
    </div>
</div>